// bower:scss
// endbower

.browserupgrade {
  background: #ccc;
  color: #000;
  padding: 0.2em 1em;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}


/* Customize container */
@media (min-width: 48em) {

}
