<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Time Converter - for your decimal needs</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <script src="https://use.fontawesome.com/ce2e279c8e.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css" />
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Time Converter
          </h1>
          <p class="subtitle">
            Just a little tool for when your brain doesn't move the way you want
          </p>
          <p>
            No nick nack, just minutes to decimal.
          </p>
        </div>
      </div>
    </header>

    <section class="section main" id="app">
      <todecimal></todecimal>
      <tominutes></tominutes>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            Made with ♥ by Maximilian Henrich
          </p>
          <p>
            <a class="" href="https://www.maximilianhenrich.de">
              <span class="icon"><i class="fa fa-home"></i></span>
              <span>maximilianhenrich.de</span>
            </a>
            <a class="" href="https://github.com/monofaktur/timeconverter">
              <span class="icon"><i class="fa fa-github"></i></span>
              <span>Github</span>
            </a>
          </p>
        </div>
      </div>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <template id="template-todecimal" style="display:none">
      <div class="container">
        <p class="label">Time to decimal</p>
        <div class="columns">
          <div class="field column is-3 has-addons">
            <div class="control is-expanded">
              <input type="number" v-model="hours" class="input" placeholder="0">
            </div>
            <p class="control">
              <label class="button is-static">Hours</label>
            </p>
          </div>
          <div class="field column is-3 has-addons">
            <div class="control is-expanded">
              <input type="number" v-model="minutes" class="input" placeholder="0">
            </div>
            <p class="control">
              <label class="button is-static">Minutes</label>
            </p>
          </div>
          <div class="field column is-1 has-text-centered">
            <span class="icon is-hidden-mobile"><i class="fa fa-arrow-right"></i></span>
            <span class="icon is-hidden-tablet"><i class="fa fa-arrow-down"></i></span>
          </div>
          <div class="field column is-4 has-addons">
            <div class="control is-expanded">
              <input type="number" v-model="hoursDecimal" class="input is-success" readonly>
            </div>
            <p class="control">
              <label class="button is-static">Decimal hours</label>
            </p>
          </div>
        </div>
      </div>
    </template>

    <template id="template-tominutes" style="display:none">
      <div class="container">
        <p class="label">Decimal time to minutes</p>
        <div class="columns">
          <div class="field column is-3 has-addons">
            <div class="control is-expanded">
              <input type="number" v-model="hoursDecimal" class="input" placeholder="0">
            </div>
            <p class="control">
              <label class="button is-static">Decimal time</label>
            </p>
          </div>
          <div class="field column is-1 is-offset-3 has-text-centered">
            <span class="icon is-hidden-mobile"><i class="fa fa-arrow-right"></i></span>
            <span class="icon is-hidden-tablet"><i class="fa fa-arrow-down"></i></span>
          </div>
          <div class="field column is-4 has-addons">
            <div class="control is-expanded">
              <input type="number" v-model="minutes" class="input is-success" readonly>
            </div>
            <p class="control">
              <label class="button is-static">Minutes</label>
            </p>
          </div>
        </div>
      </div>
    </template>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/vue/dist/vue.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
