<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>timeconverter</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <script src="https://use.fontawesome.com/ce2e279c8e.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css" />
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="section">
      <div class="container">
        <h1 class="title">
          Time Converter
        </h1>
        <p class="subtitle">
          Just a little tool for when your brain doesn't move the way you want
        </p>
        <p>
          No nick nack, just minutes to decimal.
        </p>
      </div>
    </header>


    <section class="section main" id="app">
      <div class="container ">
        <p class="label">To decimal</p>
        <div class="columns">
          <div class="field column is-3 has-addons">
            <div class="control is-expanded">
              <input type="number" v-model="hours" class="input">
            </div>
            <p class="control">
              <label class="button is-static">Hours</label>
            </p>
          </div>
          <div class="field column is-3 has-addons">
            <div class="control is-expanded">
              <input type="number" v-model="minutes" class="input">
            </div>
            <p class="control">
              <label class="button is-static">Minutes</label>
            </p>
          </div>
          <div class="field column is-4 is-offset-1 has-addons">
            <div class="control is-expanded">
              <input type="number" v-model="hoursDecimal" class="input">
            </div>
            <p class="control">
              <label class="button is-static">Decimal hours</label>
            </p>
          </div>
        </div>
      </div>
    </section>


    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            Made with ♥ by Maximilian Henrich
          </p>
          <p>
            <a class="icon" href="https://www.maximilianhenrich.de">
              <i class="fa fa-home"></i>
            </a>
            <a class="icon" href="https://github.com/monofaktur/timeconverter">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
